* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Montserrat;
  src: url("Montserrat-Bold.ttf");
}
.munehamb .overlay {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.munehamb .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.munehamb .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.munehamb i {
  margin: 10px;
}
.munehamb .overlay a:hover, .munehamb .overlay a:focus {
  color: #f1f1f1;
}
.munehamb .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.munehamb logo p {
  font-size: 20px;
}
.munehamb span {
  font-family: Montserrat;
  padding-right: 15px;
  position: absolute;
  top: 0;
  right: 0;
}
.munehamb a {
  font-family: Montserrat;
}

@media screen and (min-width: 789px) {
  .munehamb {
    display: none;
  }
}
.navigation {
  background-color: #2d3e50;
}
.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation p {
  font-family: Montserrat;
  font-size: 18px;
  color: #ffffff;
  font-weight: bolder;
  margin-top: 10px;
}
.navigation a {
  font-family: Montserrat;
  margin-left: 20px;
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
}

.banner {
  font-family: Montserrat;
  background-color: #1bbc9b;
  padding-top: 50px;
  padding-bottom: 34px;
}
.banner img {
  width: 100%;
  height: 35vh;
  margin-bottom: 30px;
}
.banner .head {
  text-align: center;
}
.banner p {
  font-family: Montserrat;
  font-size: 16px;
  color: #ffffff;
  margin: 12px;
}
.banner h1 {
  font-family: Montserrat;
  font-size: 50px;
  color: white;
}
.banner .line {
  margin-bottom: 8px;
  width: 70px;
  border: 2px solid #ffffff;
}
.banner span {
  display: inline-block;
  margin: 5px;
}
.banner .line2 {
  width: 70px;
  border: 2px solid #ffffff;
  margin-bottom: 8px;
}
.banner .icon {
  font-size: 35px;
  color: white;
}

#portfolio {
  padding-top: 67px;
  margin-bottom: 70px;
}
#portfolio h2 {
  font-family: Montserrat;
  margin-bottom: 12px;
}
#portfolio .head {
  text-align: center;
}
#portfolio .images {
  padding-bottom: 15px;
}
#portfolio img {
  height: 40vh;
}
#portfolio .row {
  padding: 4px;
}
#portfolio .line {
  width: 70px;
  border: 2px solid #000000;
  margin-bottom: 8px;
}
#portfolio span {
  display: inline-block;
  margin: 5px;
}
#portfolio .line2 {
  width: 70px;
  border: 2px solid #000000;
  margin-bottom: 8px;
}
#portfolio span {
  display: inline-block;
  margin: 5px;
}
#portfolio .icon {
  font-size: 35px;
  color: black;
}

#about {
  padding-top: 67px;
  padding-bottom: 70px;
  background-color: #1bbc9b;
}
#about .star {
  text-align: center;
  color: #ffffff;
}
#about .row {
  margin-left: 150px;
  margin-right: 150px;
  color: #ffffff;
}
#about p {
  font-family: Montserrat;
}
#about .col6 {
  padding: 12px;
}
#about .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about a {
  font-family: Montserrat;
  text-decoration: none;
  background-color: "";
  width: 180px;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  border: 1px solid;
}
#about .line {
  width: 70px;
  border: 2px solid #ffffff;
  margin-bottom: 8px;
}
#about span {
  display: inline-block;
  margin: 5px;
}
#about .line2 {
  margin-bottom: 8px;
  width: 70px;
  border: 2px solid #ffffff;
}
#about span {
  display: inline-block;
  margin: 5px;
}
#about .icon {
  font-size: 35px;
  color: white;
}

#footer {
  background-color: #2d3e50;
  padding-top: 70px;
  padding-bottom: 40px;
  color: #ffffff;
}
#footer .blue {
  color: #1bbc9b;
}
#footer p {
  font-family: Montserrat;
  text-align: center;
}
#footer h4 {
  font-family: Montserrat;
  text-align: center;
}
#footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: center;
}
#footer .icons .circleMin {
  margin-left: 10px;
  border: 1px solid #ffffff;
  align-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  gap: 40px;
  text-align: center;
}

#contact {
  font-family: Montserrat;
  padding-top: 43px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contact a {
  font-family: Montserrat;
  text-decoration: none;
  color: #ffffff;
}
#contact .send {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  margin-top: 30px;
  padding: 10px;
  background-color: #1bbc9b;
  width: 80px;
  border-radius: 3px;
  margin-bottom: 50px;
}
#contact .cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact h2 {
  font-family: Montserrat;
  margin-bottom: 4px;
}
#contact .line {
  width: 70px;
  border: 2px solid #000000;
  margin-bottom: 8px;
}
#contact span {
  display: inline-block;
  margin: 5px;
}
#contact .line2 {
  width: 70px;
  border: 2px solid #000000;
  margin-bottom: 8px;
}
#contact span {
  display: inline-block;
  margin: 5px;
}
#contact .form-control {
  width: 800px;
  padding: 25px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}
#contact .message {
  font-family: Montserrat;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 25px;
}
#contact .forms {
  padding-top: 12px;
}
#contact .con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .icon {
  font-size: 35px;
  color: black;
}

.copy {
  font-family: Montserrat;
  text-align: center;
}
.copy p {
  font-family: Montserrat;
  background-color: #1B252F;
  padding: 30px;
  color: #ffffff;
}

@media (max-width: 568px) {
  .munehamb .overlay a {
    font-size: 20px;
  }
  .munehamb .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .munehamb logo {
    font-family: Montserrat;
    color: #ffffff;
    background-color: #1B252F;
    padding-top: 10px;
    position: absolute;
    padding-left: 10px;
    width: 100%;
  }
  .munehamb logo p {
    font-size: 18px;
  }
  .navigation {
    display: none;
  }
  h2 {
    font-size: 15px;
  }
  .banner {
    padding-top: 92px;
    padding-bottom: 36px;
    overflow: hidden;
  }
  .banner img {
    height: 25vh;
  }
  .banner h1 {
    font-size: 20px;
  }
  .banner .icon {
    font-size: 10px;
  }
  .banner p {
    font-size: 12px;
  }
  .banner .icon {
    font-size: 25px;
    color: white;
  }
  .banner .line, .banner .line2 {
    width: 50px;
  }
  #portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
  }
  #portfolio img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-top: 15px;
  }
  #portfolio .col-md-4 {
    margin: 0px;
    padding: 0px;
  }
  #portfolio .row {
    padding: 0px;
  }
  #portfolio .contpics {
    padding-top: 16px;
  }
  #portfolio .images .icon {
    font-size: 25px;
    color: #000000;
  }
  #portfolio .images .line, #portfolio .images .line2 {
    width: 50px;
  }
  #about {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
  }
  #about p {
    padding-bottom: 20px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
  }
  #about .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  #about .row {
    margin-left: 0px;
    margin-right: 0px;
    color: white;
  }
  #about .col6 {
    padding: 2px;
  }
  #about a {
    font-size: 12px;
    width: 137px;
    padding: 6px;
  }
  #about .button {
    padding-top: 10px;
  }
  #about .star .icon {
    font-size: 25px;
    color: white;
  }
  #about .star .line, #about .star .line2 {
    width: 50px;
  }
  #contact {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  #contact .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact .form-control {
    width: 334px;
    font-size: 10px;
    padding: 8px;
    margin-top: 10px;
  }
  #contact .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact .con {
    margin-right: 0px;
  }
  #contact .message {
    width: 335px;
    padding: 8px;
    font-size: 11px;
    margin-top: 10px;
  }
  #contact .container {
    padding: 0px;
  }
  #contact .send {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin: 0px;
    margin-top: 3px;
    font-size: 12px;
    width: 50px;
    padding: 5px;
  }
  #contact .images .icon {
    font-size: 25px;
    color: black;
  }
  #contact .images .line, #contact .images .line2 {
    width: 50px;
  }
  #footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #footer h4 {
    font-size: 13px;
  }
  #footer .colunm {
    margin: 10px;
  }
  #footer p {
    font-size: 12px;
    margin-bottom: 0px;
  }
  #footer i {
    padding: 5px;
  }
  #footer .icons .circleMin {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30px;
    height: 30px;
  }
  #footer .icons .looper {
    font-size: 10px;
  }
  .copy {
    font-size: 12px;
  }
  .copy p {
    padding: 10px;
  }
}
@media (min-width: 569px) and (max-width: 768px) {
  .munehamb span {
    padding-top: 13px;
    padding-right: 50px;
  }
  .munehamb logo {
    font-family: Montserrat;
    color: #ffffff;
    background-color: #1B252F;
    padding-top: 10px;
    position: absolute;
    padding-left: 20px;
    width: 100%;
  }
  .munehamb logo p {
    padding: 12px;
    font-size: 18px;
  }
  .munehamb .overlay {
    height: 100%;
  }
  .munehamb .overlay .closebtn {
    position: absolute;
    top: -18px;
    right: 39px;
    font-size: 60px;
  }
  .munehamb .overlay-content {
    top: 10%;
  }
  nav img {
    top: 6px;
  }
  nav #btn {
    display: block;
    margin-right: 30px;
  }
  nav a {
    text-decoration: none;
    margin: 0px;
    font-size: 17px;
  }
  nav ul {
    position: absolute;
    width: 100%;
    height: 40vh;
    background: rgba(0, 0, 0, 0.9490196078);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    padding-left: 0px;
  }
  nav li {
    display: block;
    margin: 25px 0;
    line-height: 50px;
  }
  nav a {
    font-size: 20px;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
  nav #check:checked ~ lable #cancel {
    display: block;
  }
  h2 {
    font-size: 31px;
  }
  .navigation {
    display: none;
  }
  .banner {
    padding-top: 110px;
    padding-bottom: 46px;
    overflow: hidden;
  }
  .banner img {
    height: 25vh;
  }
  .banner h1 {
    font-size: 40px;
  }
  .banner .icon {
    font-size: 30px;
  }
  .banner p {
    font-size: 17px;
  }
  .banner .line, .banner .line2 {
    width: 60px;
  }
  #portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  #portfolio .allpics {
    display: none;
  }
  #portfolio .two {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 4px;
  }
  #portfolio .one {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 4px;
  }
  #portfolio .three {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 4px;
  }
  #portfolio .four {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 4px;
  }
  #portfolio .five {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 8px;
  }
  #portfolio .six {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 12px;
  }
  #portfolio .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  #portfolio .col-md-4 {
    margin: 0px;
    padding: 0px;
  }
  #portfolio .g-4 {
    margin: 5px;
  }
  #portfolio .contpics {
    padding-top: 0px;
  }
  #portfolio .images .icon {
    font-size: 30px;
  }
  #portfolio .images .line, #portfolio .images .line2 {
    width: 60px;
  }
  #about {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  #about p {
    font-size: 17px;
    margin: 4px;
  }
  #about .star .icon {
    font-size: 30px;
  }
  #about .star .line, #about .star .line2 {
    width: 60px;
  }
  #about .row {
    margin-left: 0px;
    margin-right: 0px;
    color: white;
  }
  #about .col6 {
    padding: 2px;
  }
  #about a {
    font-size: 16px;
    width: 163px;
    padding: 6px;
  }
  #about .button {
    padding-top: 20px;
  }
  #contact {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 38px;
    margin-right: 38px;
    overflow: hidden;
  }
  #contact .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact .form-control {
    width: 690px;
    margin-right: 0px;
    font-size: 18px;
    padding: 20px;
    margin-top: 12px;
  }
  #contact .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact .con {
    margin-right: 0px;
  }
  #contact .message {
    width: 690px;
    padding: 20px;
    font-size: 19px;
    margin-top: 12px;
  }
  #contact .container {
    padding: 0px;
  }
  #contact .send {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 16px;
    width: 73px;
    padding: 10px;
  }
  #contact .images .icon {
    font-size: 30px;
  }
  #contact .images .line, #contact .images .line2 {
    width: 60px;
  }
  #footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #footer h4 {
    font-size: 21px;
  }
  #footer p {
    font-size: 17px;
    margin-bottom: 0px;
  }
  #footer i {
    padding: 10px;
  }
  #footer .icons {
    padding-bottom: 10px;
  }
  #footer .icons .circleMin {
    margin-left: 10px;
    border: 1px solid #ffffff;
    align-content: center;
    height: 47px;
    width: 50px;
    border-radius: 100%;
    gap: 40px;
    text-align: center;
  }
  .copy {
    font-size: 17px;
  }
  .copy p {
    padding: 10px;
  }
}
@media (min-width: 769px) and (max-width: 950px) {
  h2 {
    font-size: 31px;
  }
  .banner {
    padding-top: 50px;
    padding-bottom: 46px;
    overflow: hidden;
  }
  .banner img {
    height: 25vh;
  }
  .banner h1 {
    font-size: 40px;
  }
  .banner .icon {
    font-size: 40px;
  }
  .banner p {
    font-size: 17px;
  }
  #portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  #portfolio .allpics {
    display: none;
  }
  #portfolio .two {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 4px;
  }
  #portfolio .one {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 4px;
  }
  #portfolio .three {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 4px;
  }
  #portfolio .four {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 4px;
  }
  #portfolio .five {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 8px;
  }
  #portfolio .six {
    width: 230px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-left: 12px;
  }
  #portfolio .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  #portfolio .col-md-4 {
    margin: 0px;
    padding: 0px;
  }
  #portfolio .g-4 {
    margin: 5px;
  }
  #portfolio .contpics {
    padding-top: 0px;
  }
  #about {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  #about p {
    font-size: 17px;
    margin: 4px;
  }
  #about .row {
    margin-left: 0px;
    margin-right: 0px;
    color: white;
  }
  #about .col6 {
    padding: 2px;
  }
  #about a {
    font-size: 16px;
    width: 163px;
    padding: 6px;
  }
  #about .button {
    padding-top: 18px;
  }
  #contact {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 38px;
    margin-right: 38px;
    overflow: hidden;
  }
  #contact .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact .form-control {
    margin-top: 12px;
    width: 690px;
    margin-right: 0px;
    font-size: 16px;
    padding: 25px;
  }
  #contact .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact .con {
    margin-right: 0px;
  }
  #contact .message {
    margin-top: 12px;
    width: 690px;
    padding: 25px;
    font-size: 19px;
  }
  #contact .send {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 16px;
    width: 94px;
    padding: 17px;
  }
  #footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #footer h4 {
    font-size: 21px;
  }
  #footer p {
    font-size: 17px;
    margin-bottom: 0px;
  }
  #footer i {
    padding: 10px;
  }
  #footer .icons {
    padding-bottom: 10px;
  }
  #footer .icons .circleMin {
    margin-left: 10px;
    border: 1px solid #ffffff;
    align-content: center;
    height: 47px;
    width: 50px;
    border-radius: 50%;
    gap: 40px;
    text-align: center;
  }
  .copy {
    font-size: 17px;
  }
  .copy p {
    padding: 10px;
  }
}
@media (min-width: 951px) and (max-width: 1024px) {
  h2 {
    font-size: 35px;
  }
  .banner {
    padding-top: 70px;
    padding-bottom: 66px;
    overflow: hidden;
  }
  .banner img {
    height: 25vh;
  }
  .banner h1 {
    font-size: 50px;
  }
  .banner .icon {
    font-size: 35px;
  }
  .banner p {
    font-size: 20px;
  }
  .navigation a {
    font-size: 14px;
  }
  #portfolio {
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  #portfolio .allpics {
    display: none;
  }
  #portfolio .two {
    width: 305px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 4px;
  }
  #portfolio .one {
    width: 305px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 4px;
  }
  #portfolio .three {
    width: 305px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 4px;
  }
  #portfolio .four {
    width: 305px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 4px;
    padding-bottom: 0px;
    margin-left: 4px;
  }
  #portfolio .five {
    width: 305px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 4px;
    padding-bottom: 0px;
    margin-left: 12px;
  }
  #portfolio .six {
    width: 305px;
    height: 20vh;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 4px;
    padding-bottom: 0px;
    margin-left: 21px;
  }
  #portfolio .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  #portfolio .col-md-4 {
    margin: 0px;
    padding: 0px;
  }
  #portfolio .g-4 {
    margin: 5px;
  }
  #portfolio .contpics {
    padding-top: 0px;
  }
  #about {
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
  }
  #about p {
    font-size: 18px;
    margin: 3px;
  }
  #about .row {
    margin-left: 0px;
    margin-right: 0px;
    color: white;
  }
  #about .col6 {
    padding: 2px;
  }
  #about a {
    font-size: 18px;
    width: 180px;
    padding: 6px;
  }
  #about .button {
    padding-top: 20px;
  }
  #contact {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: 38px;
    margin-right: 38px;
    overflow: hidden;
  }
  #contact .container {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
  #contact .form-control {
    margin-top: 15px;
    width: 918px;
    margin-right: 0px;
    font-size: 18px;
    padding: 30px;
  }
  #contact .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact .con {
    margin-right: 0px;
  }
  #contact .message {
    margin-top: 15px;
    width: 918px;
    padding: 30px;
    font-size: 19px;
  }
  #contact .send {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 3px;
    width: 107px;
    padding: 15px;
  }
  #contact a {
    font-size: 18px;
  }
  #footer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #footer h4 {
    font-size: 25px;
  }
  #footer p {
    font-size: 18px;
    margin-bottom: 0px;
  }
  #footer i {
    padding: 10px;
  }
  #footer .icons {
    padding-bottom: 10px;
  }
  #footer .icons .circleMin {
    margin-left: 10px;
    border: 1px solid #ffffff;
    align-content: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    gap: 40px;
    text-align: center;
  }
  .copy {
    font-size: 18px;
  }
  .copy p {
    padding: 10px;
  }
}
@media (min-width: 1025px) and (max-width: 1366px) {
  .navigation a {
    font-size: 15px;
  }
  .navigation p {
    font-size: 22px;
  }
  h2 {
    font-size: 36px;
  }
  .banner {
    padding-top: 70px;
    padding-bottom: 66px;
    overflow: hidden;
  }
  .banner img {
    width: 100%;
    height: 35vh;
    margin-bottom: 30px;
  }
  .banner h1 {
    font-size: 52px;
  }
  .banner p {
    font-size: 20px;
  }
  #portfolio {
    padding-top: 70px;
    overflow: hidden;
    margin-bottom: 70px;
  }
  #about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #about p {
    font-size: 18px;
  }
  #about a {
    font-size: 18px;
    width: 194px;
    padding: 6px;
  }
  #about .button {
    padding-top: 20px;
  }
  #contact {
    padding-top: 70px;
  }
  #contact .send {
    margin-left: 10px;
    margin-bottom: 70px;
  }
  #contact .message {
    margin-left: 12px;
  }
  #contact .form-control {
    margin: 15px;
  }
  #footer {
    padding-top: 50px;
    padding-bottom: 45px;
  }
  #footer h4 {
    font-size: 25px;
  }
  #footer p {
    font-size: 18px;
    margin-bottom: 0px;
  }
  #footer i {
    padding: 10px;
  }
  #footer .icons {
    padding-bottom: 10px;
  }
  .copy {
    font-size: 18px;
  }
  .copy p {
    padding: 12px;
  }
}/*# sourceMappingURL=index.css.map */